/* O seletor * aplica estilos a todos os elementos. Aqui, estamos removendo as margens e preenchimentos padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Garante que padding e border são incluídos na largura/altura total do elemento */
}

/* Define estilos para todo o corpo do documento */
body {
    font-family: 'Arial', sans-serif; /* Define a família da fonte. Arial é clássica e legível */
    background-color: #eaeaea; /* Cor de fundo clara para o corpo */
    color: #333; /* Cor de texto mais escura */
    padding: 20px; /* Espaço entre o conteúdo e a borda da janela */
}

/* Estilos para o container principal do currículo */
.main-container {
    background-color: #fff; /* Fundo branco para o container */
    width: 80%; /* Ocupa 80% da largura da janela */
    max-width: 800px; /* Limita a largura máxima para melhor legibilidade */
    margin: 20px auto; /* Centraliza o container na janela */
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave para dar profundidade */
    padding: 20px; /* Espaço interno entre a borda do container e seu conteúdo */
}

/* Estilos para o cabeçalho do perfil */
.profile-header {
    text-align: center; /* Centraliza o texto horizontalmente */
    padding: 20px 0; /* Espaço no topo e na parte inferior do cabeçalho */
    border-bottom: 2px solid #ccc; /* Linha horizontal para separar o cabeçalho do resto do conteúdo */
    margin-bottom: 20px; /* Espaço após o cabeçalho */
}

/* Estilos para os títulos das seções */
h2 {
    color: #007BFF; /* Título em cor azul para destaque */
    margin: 20px 0; /* Espaço antes e depois do título */
    padding-bottom: 10px; /* Espaço entre o título e o conteúdo abaixo */
    border-bottom: 1px solid #ccc; /* Linha horizontal sutil abaixo do título */
}

/* Estilos para as listas */
ul {
    list-style-type: none; /* Remove os marcadores padrão da lista */
}

ul li {
    margin: 10px 0; /* Espaço entre os itens da lista */
}
