* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: sans-serif;
    font-size: 16px;
  }
  
  header {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
  }
  
  h1 {
    font-size: 24px;
    text-align: center;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  .item {
    margin-bottom: 10px;
  }
  
  .item strong {
    font-weight: bold;
  }
  
  .dados-pessoais-conteudo {
    display: flex;
    justify-content: space-between;
  }
  
  .educacao-conteudo,
  .experiência-conteudo,
  .habilidades-conteudo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
  
  .item li {
    margin-bottom: 0;
  }
  
  .nome,
  .endereco,
  .telefone,
  .email,
  .graduacao,
  .mestrado,
  .cargo,
  .habilidades-lista {
    color: #fff;
  }
  
  .dados-pessoais {
    background-color: #222;
  }
  
  .educacao {
    background-color: #333;
  }
  
  .experiência {
    background-color: #444;
  }
  
  .habilidades {
    background-color: #555;
  }
  
  .footer {
    background-color: #fff;
    padding: 10px 20px;
  }
  