* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: sans-serif;
    font-size: 16px;
  }
  
  header {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
  }
  
  h1 {
    font-size: 24px;
    text-align: center;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  .card {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .card-header {
    font-size: 18px;
    text-align: center;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
  }
  
  .item {
    margin-bottom: 10px;
  }
  
  .item strong {
    font-weight: bold;
  }
  
  .nome,
  .endereco,
  .telefone,
  .email,
  .graduacao,
  .mestrado,
  .cargo,
  .habilidades-lista {
    color: #333;
  }
  
  .card-footer {
    text-align: center;
  }
  